<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/choice.css">
    <title>Doctor Appointment System</title>
</head>
<body>
    <h1>Schedule Your Slots for the Day</h1>
    <h1 class="er">Slot Limit is 1 Hour</h1>
    <div class="div1">
    <form id="slotsForm" action="/doctor/schedule" method="POST" onsubmit="return validateSlot()">
        <input type="hidden" name="doctorId" value= "<%= doctor.id %>" >
        <label for="startTime">Start Time</label>
        <input type="time" id="startTime" name="startTime" required>
        <label for="endTime">End Time</label>
        <input type="time" id="endTime" name="endTime" required>
        <p id="errorMessage" style="color: red; display: none;"></p>
        <p id="correcttime" style="color: red; display: none;"></p>
        <% if(check)
        { %>
        <p id="em" style="color: red; display: block;">Slot already over,please add new slot.</p>
        <% } %>
        <button type="submit" >Add Slot</button>
    </form>
    </div>
    <div class="div2">
        <a href="/doctor/end" class="green-tab">End of Day</a>
    </div>
    <script>
    function validateSlot() {
        const slotsForm = document.getElementById('slotsForm')
        const correcttime = document.getElementById('correcttime')
        const errorMessage = document.getElementById('errorMessage')

        const startTime = document.getElementById('startTime').value
        const endTime = document.getElementById('endTime').value

        const [startHours, startMinutes] = startTime.split(':').map(Number)
        const [endHours, endMinutes] = endTime.split(':').map(Number)
        const { DateTime } = require('luxon')
        const now = DateTime.now().setZone('Asia/Kolkata')
        const startDate = now.set({ hour: startHours, minute: startMinutes, second: 0 })
        const endDate = now.set({ hour: endHours, minute: endMinutes, second: 0 })
        if (endDate <= startDate) {
            endDate = endDate.plus({ days: 1 });
        }
        if (startDate <= now) {
            correcttime.textContent = 'Please choose a future time.'
            correcttime.style.display = 'block'
            setTimeout(() => {
                correcttime.style.display = 'none'
                slotsForm.reset()
            }, 3000)
            return false
        }

        const differenceInMinutes = endDate.diff(startDate).as('minutes');

        if (differenceInMinutes !== 60) {
            errorMessage.textContent = 'Each slot must be exactly 1 hour long.'
            errorMessage.style.display = 'block'
            setTimeout(() => {
                errorMessage.style.display = 'none'
                slotsForm.reset()
            }, 3000)
            return false
        }
        return true
    }
    </script>
</body>
</html>