<div class="interface">
    <span class="heading">Doctor Appointment System</span>
    <div>
      <a href="/patient/login" class="tab" id="tab1">Patient Login</a>
      <a href="/doctor/login" class="tab" id="tab2">Doctor Login</a>
    </div>
</div>